
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.lunar-icon {
    padding-right: 5px;
}
.lunar-icon-rtl {
    padding-left: 5px;
}

.lunar-clock-details {
    padding-right: 5px;
    padding-left: 5px;
}

