Source: gnome-shell-extension-lunar-clock
Section: unknown
Priority: extra
Maintainer: Bastien Durel <bastien@sietchtabr.geekwu.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/gnome-shell-extension-lunar-clock.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/gnome-shell-extension-lunar-clock.git;a=summary

Package: gnome-shell-extension-lunar-clock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
